@model AWACSTicketLibrary.Worker

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Index", "Tickets", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Register</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(m => m.WorkerId)
                @Html.TextBoxFor(m => m.WorkerId, "", new { @class = "form-control", @placeholder = "Worker Id" })
                @Html.ValidationMessageFor(m => m.WorkerId, "", new { @class = "badge badge-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "badge badge-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Surname)
                @Html.TextBoxFor(m => m.Surname, "", new { @class = "form-control", @placeholder = "Surname" })
                @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "badge badge-danger" })
            </div><div class="form-group">
                @Html.LabelFor(m => m.Department)
                @Html.TextBoxFor(m => m.Department, "", new { @class = "form-control", @placeholder = "Department" })
                @Html.ValidationMessageFor(m => m.Department, "", new { @class = "badge badge-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.eMail)
                @Html.TextBoxFor(m => m.eMail, "", new { @class = "form-control", @placeholder = "eMail" })
                @Html.ValidationMessageFor(m => m.eMail, "", new { @class = "badge badge-danger" })
                @if (ViewBag.error != null)
                {
                    <span class="badge badge-danger">@ViewBag.error</span>
                }
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confim Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-success"/>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to homepage", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
