@model IEnumerable<AWACSTicketLibrary.Ticket>

@{
    ViewBag.Title = "Tickets Home";
}

<h2>These are all the tickets</h2><p></p>
<h4>If you wish to work on them, please register!</h4>
<hr />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Responsible
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solution)
            </td>
            <td>
                @item.PlannedEndDate.ToString(string.Format("dd/MM/yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsible.Name)
                @Html.DisplayFor(modelItem => item.Responsible.Surname)
            </td>
        </tr>
    }
</table>
<p></p>
@Html.ActionLink("Back to Home Page", "Index", "Home")